@font-face {
  font-family: merienda;
  src: url("../media/fonts/Merienda-VariableFont_wght.ttf");
}
@font-face {
  font-family: ubuntu-medium;
  src: url("../media/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: ubuntu-regular;
  src: url("../media/fonts/Ubuntu-Regular.ttf");
}
.fuenteMerienda {
  font-family: merienda;
  font-size: 32px;
  font-style: normal;
  color: black;
}

.fuenteUbuntu__medium {
  font-family: ubuntu-medium;
  font-size: 28px;
  font-style: normal;
  color: black;
}
.fuenteUbuntu__regular {
  font-family: ubuntu-regular;
  font-size: 24px;
  font-style: normal;
  color: black;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

header {
  grid-area: header;
  display: grid;
  background-color: rgb(51, 51, 51);
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 25px;
}
header h1 a {
  text-decoration: none;
  color: #fff;
  font-size: 5vw;
}

nav {
  grid-area: nav;
  display: grid;
  height: auto;
  width: auto;
  background-color: rgb(202, 202, 202);
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: inherit;
}
nav ul li {
  margin: 10px;
  padding: 10px;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3vw;
}
nav ul li a:hover {
  transition: all 0.5s;
  margin: 5px;
  color: 111;
}

.gridIndex {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 20% 40% 40%);
  grid-template-rows: repeat(1, 10vw 25vw 25vw);
  grid-template-areas: "header presentacion presentacion" "nav main main" "nav main main" "o main main" "footer footer footer";
  column-gap: 5px;
  row-gap: 5px;
}

.o {
  grid-area: o;
  display: grid;
}

.presentacion {
  grid-area: presentacion;
  display: grid;
  background-color: rgb(202, 202, 202);
  text-align: center;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 3vw;
}
.presentacion h2 {
  font-size: 3vw;
  color: rgb(51, 51, 51);
}
.presentacion p {
  font-size: 2vw;
}

main {
  grid-area: main;
}

.bebidas {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.bebidas a {
  text-decoration: none;
  color: #333;
}
.bebidas img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.bebidas p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.desayunos {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.desayunos a {
  text-decoration: none;
  color: #333;
}
.desayunos img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.desayunos p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.carnes {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.carnes a {
  text-decoration: none;
  color: #333;
}
.carnes img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.carnes p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.mariscos {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.mariscos a {
  text-decoration: none;
  color: #333;
}
.mariscos img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.mariscos p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.ninos {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.ninos a {
  text-decoration: none;
  color: #333;
}
.ninos img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.ninos p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.postres {
  display: inline-block;
  height: 33%;
  width: 49.5%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.postres a {
  text-decoration: none;
  color: #333;
}
.postres img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
}
.postres p {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.gridIndex {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1, 20% 40% 40%);
  grid-template-rows: repeat(1, 10vw 25vw 25vw 25vw);
  grid-template-areas: "header presentacion presentacion presentacion" "nav main main main" "nav main main main" "o main main main" "footer footer footer footer";
  column-gap: 5px;
  row-gap: 5px;
}

.menu1 {
  display: inline-block;
  height: 33%;
  width: 32%;
  background-color: rgb(202, 202, 202);
  color: rgb(51, 51, 51);
  overflow: hidden;
  background-size: 35%;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}
.menu1 a {
  text-decoration: none;
  color: #333;
}
.menu1 img {
  width: 60%;
  height: 60%;
  vertical-align: middle;
  height: max-content;
  width: 200px;
}
.menu1 h3 {
  font-size: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.footer {
  grid-area: footer;
  display: grid;
}

@media (max-width: 992px) {
  .gridIndex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: max-content;
    grid-template-areas: "header" "presentacion" "nav" "main" "footer";
    column-gap: 5px;
    row-gap: 5px;
  }
  header h1 a {
    font-size: 50px;
  }
  .presentacion h2 {
    font-size: 45px;
  }
  .presentacion p {
    font-size: 2vh;
  }
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    font-size: 20px;
  }
  nav ul li a:hover {
    margin: 0;
  }
  .bebidas {
    width: 100%;
    height: fit-content;
  }
  .bebidas img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .bebidas p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .desayunos {
    width: 100%;
    height: fit-content;
  }
  .desayunos img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .desayunos p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .carnes {
    width: 100%;
    height: fit-content;
  }
  .carnes img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .carnes p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .mariscos {
    width: 100%;
    height: fit-content;
  }
  .mariscos img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .mariscos p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .ninos {
    width: 100%;
    height: fit-content;
  }
  .ninos img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .ninos p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
  .postres {
    width: 100%;
    height: fit-content;
  }
  .postres img {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
  .postres p {
    font-size: 25px;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
}

/*# sourceMappingURL=main.css.map */
