$color-primario: rgb(51, 51, 51);
$color-secundario: rgb(202, 202, 202);


@mixin recuadro {
    display: inline-block;
    height: 33%;
    width: 49.5%;
    background-color: $color-secundario;
    color: $color-primario;

    overflow: hidden;
    background-size: 35%;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;

    a{
        text-decoration: none;
        color: #333;
    }
    img{
        width: 60%;
        height: 60%;
        vertical-align: middle;
    }
    p{
        font-size: 2vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}

.gridIndex{
    display: grid;
    width: 100%;
    height: 100%;

    grid-template-columns: repeat(1, 20% 40% 40%);
    grid-template-rows: repeat(1, 10vw 25vw 25vw 25vw);
        
        grid-template-areas: 
        "header presentacion presentacion"
        "nav main main"
        "nav main main"
        "o main main"
        "footer footer footer";
        
        column-gap: 5px;
        row-gap: 5px; 

        // img{
        //     width: auto;
        //     height: auto;
        //     object-fit: cover;
        // }
}


.o{
    grid-area: o;
    display: grid;
}

.presentacion{
    grid-area: presentacion;
    display: grid;
    background-color: $color-secundario;
    text-align: center;
    align-items: center;
    height: auto;
    width: auto; 
    font-size: 3vw;
    
    h2{
        font-size: 3vw;
        color: $color-primario;
    }
    p{
        font-size: 2vw;
    }
}

main{
    grid-area: main;
}

.bebidas{
    @include recuadro();

}
.desayunos{
    @include recuadro();
}
.carnes{
    @include recuadro();
}
.mariscos{
    @include recuadro();
}
.ninos{
    @include recuadro();
}
.postres{
    @include recuadro();
}
